<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bounce-CI" version="0.4.4430.17934" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="NUnit" version="2.6.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>