<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="SmtpAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="false" />
      <encoding value="unicodeFFFE" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <threshold value="ERROR"/>
      <to value="lu.web.2012.3@gmail.com" />
      <from value="lu.web.2012.1@gmail.com" />
      <subject value="SmtpAppender" />
      <smtpHost value="smtp.gmail.com" />
      <authentication value="Basic" />
      <username value="lu.web.2012.3@gmail.com" />
      <password value="32012luweb" />
      <EnableSsl value="true"/>
      <bufferSize value="1" />
      <lossy value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date %-5level %logger [%property{NDC}] - %message%newline%newline" />
      </layout>
    </appender>
  </log4net>
  <spring>
    <context>
      <resource uri="file://SpringConfiguration.xml"/>
    </context>
  </spring>
  <connectionStrings>
    <add name="GooglePlus" connectionString="Data Source=.\sqlexpress;Integrated Security=True;Initial Catalog=GooglePlus" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>