<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="loginUrl" value="~/Account/Login" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms defaultUrl="~/Account/Login"></forms>
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="GooglePlus" connectionString="Data Source=.\sqlexpress;Integrated Security=True;Initial Catalog=GooglePlus" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <spring>
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <object id="IGoogleDataAdapter" singleton="true" scope="application" type="GooglePlus.Data.GoogleDataAdapter, GooglePlus.Data"/>
      <object id="IGoogleDataManager" type="GooglePlus.Data.Managers.GoogleDataManager, GooglePlus.Data">
        <constructor-arg name="dataAdapter" ref="IGoogleDataAdapter"/>
      </object>
      <object id="IMembershipAdapter" singleton="true" scope="session" type="GooglePlus.Web.Classes.WebSecurityAdapter, GooglePlus.Web"/>
    </objects>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
  </spring>
</configuration>