@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<h1>Welcome to NewsFeed Portal!</h1>
<p>
    <strong>Please @Html.ActionLink("Log in", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account") to enter portal.</strong>
</p>