@model GooglePlus.Data.Model.User

@{
    ViewBag.Title = "User profile";
}

<div id="user_form">
    @Html.Partial("_UserForm", Model)
</div>

<div id="ajax_loader" style="display: none;"></div>
<input id="btnLoadData" type="submit" value="Import data from Google+"/>
<hr />
<div id="user_feeds">User feeds are going to appear there...</div>

@section Scripts {
    @Scripts.Render("~/bundles/UserDataImporter")
}

@section ScriptsOnReady {
    new window.UserDataImporter({
        btnLoad: '#btnLoadData',
        targetContainer: '#user_form',
        txtGoogleId: '#GoogleId',
        loadingIndicator: '#ajax_loader',
        userId: @Model.Id
    });
}
